.backToLogin {
    text-align: center;
    background-color: #f115f1;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    margin-left: 47%;
  }
  
  .goBackText {
      text-align: center;
  }